{% extends 'base.html.twig' %}

{% block title %}index des mots-clés{% endblock %}

{% block body %}
    <h1 class="text-center text-primary display-4">Liste des mots-clés</h1>
    <a class="btn btn-primary btn-block" href="{{ path('keyword_new') }}"><i class="fas fa-plus-circle"></i></a>
    <div class="card-deck">
        {% for keyword in keywords %}
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ keyword.name }}</h5>
                        <div class="row d-flex justify-content-center">
                            <a class="btn btn-primary mx-1" href="{{ path('keyword_show', {'id': keyword.id}) }}"><i class="far fa-eye"></i></a>
                            <a class="btn btn-primary mx-1" href="{{ path('keyword_edit', {'id': keyword.id}) }}"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-primary mx-1">{{ include('keyword/_delete_form.html.twig') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
