{% extends 'base.html.twig' %}

{% block title %}Mot-clé {{keyword.name}}{% endblock %}

{% block body %}
    <h1 class="text-center text-primary display-4">Mot-clé {{ keyword.name }} - liste des ressources</h1>
    <div class="container">
        <div class="card">
            <ul class="list-group list-group-flush">
                {% for info in keyword.infos %}
                    <li class="list-group-item"><a href="{{ path('info_show', {'id': info.id}) }}">{{ info.subject }}</a></li>
                {% endfor %}
            </ul>

        </div>
        <div class="row d-flex justify-content-between">
            <a href="{{ path('keyword_index') }}">retour à la liste</a>
            <a class="btn btn-primary" href="{{ path('keyword_edit', {'id': keyword.id}) }}"><i class="fas fa-edit"></i></a>
            <a class="btn btn-primary">{{ include('keyword/_delete_form.html.twig') }}</a>
        </div>
    </div>
{% endblock %}
