{% extends 'base.html.twig' %}

{% block title %} {{ info.subject }}Info{% endblock %}

{% block body %}
    <h1 class="text-center text-primary display-4">Détail de la ressource</h1>
    <div class="container">
        <h1>Sujet : {{ info.subject }}</h1>
        {% if (info.author) %}
            <h2>Auteur : {{ info.author }} </h2>
        {% endif %}
        <div class="row">
            <h2>Source :</h2>
            <a href="{{ info.source }}">{{ info.source }}</a>
        </div>
        <div class="row"> mise en ligne : {{ dateInt }}</div>
        <div class="row">
            <h3>Description :</h3>
            <h3>{{ info.description }}</h3>
        </div>
        {% if (info.moreabout)  %}
            <h2>En savoir plus : {{ info.moreabout }} </h2>
        {% endif %}
        <p>Mots-clés associés : </p>
        <ul class="list-unstyled">
            {% for keyword in info.keywords %}
                <li>{{ keyword.name }}</li>
            {% endfor %}
        </ul>

    </div>

    <a class="btn btn-primary" href="{{ path('info_index') }}">retour à la liste</a>

    <a class="btn btn-primary" href="{{ path('info_edit', {'id': info.id}) }}"><i class="fas fa-edit"></i></a>

    <a class="btn btn-primary">{{ include('info/_delete_form.html.twig') }}</a>
{% endblock %}
